<h2>Edit Recipe</h2>

<%= form_for @recipe, method: :patch do |f| %>

<%= f.label :title %>:<br>
<%= f.text_field :title %><br>

<%= f.label :description %>:<br>
<%= f.text_field :description %><br>

<%= f.label "Yields" %>:<br>
<%= f.text_field :yield  %><br>

<%= f.label "Ingredients:" %>
<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= check_box_tag "recipe_form[ingredients][][ingredient_id]", ingredient.id, @recipe.ingredients.include?(ingredient) %>
  <%= label_tag "recipe_form[ingredients][][ingredient_id]", ingredient.name %><br>

  <%= label_tag "Measurement (ex: 1 cup):" %><br>
  <%= text_field_tag "recipe_form[ingredients][][measurement]", find_measurement(ingredient) %></li>
  <hr>
<% end %>

<% @ingredients.each do |ingredient| %>
  <% unless @recipe.ingredients.include?(ingredient) %>
    <li><%= check_box_tag "recipe_form[ingredients][][ingredient_id]", ingredient.id, @recipe.ingredients.include?(ingredient) %>
    <%= label_tag "recipe_form[ingredients][][ingredient_id]", ingredient.name %><br>
    <%= label_tag "Measurement (ex: 1 cup):" %><br>
    <%= text_field_tag "recipe_form[ingredients][][measurement]" %></li>
    <hr>
  <% end %>
<% end %>
</ul>

<%= f.label :Directions %>:<br>
<%= f.text_field :directions %><br>

<%= f.label :description %>:<br>
<%= f.text_area :description %><br><br>

<%= submit_tag "Save", class: "btn btn-primary btn-lg" %>

<% end %>
